<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Home</title>

    <!-- Bootstrap core CSS
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <!-- Custom styles for this template
    <link href="res/css/cover.css" rel="stylesheet">
    -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">


  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Teste</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Choose your action</h1>
            <p class="lead"> </p>
            <p class="lead">
              <a href="#" id="post" class="btn btn-lg btn-default">Post</a>
              <a href="/signup" class="btn btn-lg btn-default">Signup</a>
              <a href="/login" class="btn btn-lg btn-default">Login</a>
              <a href="/delete" class="btn btn-lg btn-default">Delete</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">User List</h1>

            <table style="text-align: left" id="table" class="table table-hover">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>User Email</th>
                  <th>ID</th>
                </tr>
                </thead>
                <tbody>

                  <% user.forEach(function(user){ %>
                    <tr>

                      <td>
                        <% // console.log("nome: " + user.local.name); %>
                        <%= user.local.name %>
                      </td>

                      <td>
                        <% //console.log("email: " + user.local.email); %>
                        <%= user.local.email %>
                      </td>

                      <td>
                        <% //console.log("id: " + user._id); %>
                        <%= user._id %>
                      </td>

                    </tr>
                  <% }); %>

                </tbody>
            </table>

          </div>
          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--
    <script src="/res/js/bootstrap.min.js"></script>
    <script src="/res/js/docs.min.js"></script>
    -->


    <script type="text/javascript">

      $("#post").click(function() {
        // testing the post method using manual alteration to a registered profile
        // TODO: make a profile edit page with extense forms to fill

        $.post( "/editProfile", { email: "sousandrei@gmail.com", password: "123", name : "andrei"} );

      });

    </script>



  </body>
</html>
