<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    <link href="res/css/bootstrap.min.css" rel="stylesheet">
    -->
	 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

    <!-- Custom styles for this template 
    <link href="res/css/cover.css" rel="stylesheet">
    -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">


  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Teste</h3>
              <ul class="nav masthead-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="#">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/delete">Delete</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Login</h1>
            
            <p class="lead">
              	<!-- LOGIN FORM -->
      				<form action="/login" method="post">
      					<div class="form-group">
      						<label>Email</label>
      						<input type="text" class="form-control" name="email">
      					</div>
      					<div class="form-group">
      						<label>Password</label>
      						<input type="password" class="form-control" name="password">
      					</div>

      					<button type="submit" class="btn btn-warning btn-lg">Login</button>
      				</form>
            </p>

            <p class="lead">
              <% if (message.length > 0) { %>
               <%= message %>
              <% } %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- 
    <script src="res/js/bootstrap.min.js"></script>
    <script src="res/js/docs.min.js"></script>
     -->  

  </body>
</html>