<!-- views/profile.ejs -->
<!doctype html>
<!-- <p>
	<strong>id</strong>: <%= user._id %><br>
	<strong>email</strong>: <%= user.local.email %><br>
	<strong>password</strong>: <%= user.local.password %>
</p> -->

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- <link rel="icon" href="../../favicon.ico"> -->

		<title>Profile</title>

		<!-- Bootstrap core CSS
		<link href="res/css/bootstrap.min.css" rel="stylesheet">
		<link href="res/css/bootstrap.min.css" rel="stylesheet">
		-->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

		<!-- Custom styles for this template
		<link href="res/css/cover.css" rel="stylesheet">
		-->
		<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">


	</head>

	<body>

		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Teste</h3>
							<ul class="nav masthead-nav">
								<!-- <li class="active"><a href="#">Home</a></li> -->
							</ul>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading">Your Profile	</h1>
							<!-- LOCAL INFORMATION -->
							<div class="well" style="background:#9c9c9c">
									<p>
										<strong>ID</strong><br><%= user._id %><br><br>
										<strong>Name</strong><br><%= user.local.name %><br><br>
										<strong>Email</strong><br><%= user.local.email %><br><br>
										<strong>Password</strong><br><%= user.local.password %><br>
									</p>
							</div>

						<p class="lead">
							<!-- <a href="/" class="btn btn-lg btn-default">Exit</a> -->
							<a href="/editProfile" class="btn btn-lg btn-default">Edit</a>
							<a href="/logout" class="btn btn-lg btn-default">Logout</a>
						</p>
					</div>
					<div class="inner cover">

					</div>
					<div class="mastfoot">
						<div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
						</div>
					</div>

				</div>

			</div>

		</div>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!--
		<script src="/res/js/bootstrap.min.js"></script>
		<script src="/res/js/docs.min.js"></script>
		-->

	</body>
</html>
